<div class="content">
    <div id="player-funcs" class="box">
        <div class="icon fa fa-repeat" title="重覆播放"></div>
        <div class="icon fa fa-arrows-h" title="設定開始/結束時間"></div>
        <div class="icon fa fa-music" title="音樂模式(採用可行的最低畫質)"></div>
    </div>
</div>
<div id="time-interval" class="content">
    <div class="box">
        <label>開始時間</label>
        <input type="text" id="starttime" value="00:00:00" placeholder="hh:mm:ss" size="5" disabled />
        <label>結束時間</label>
        <input type="text" id="endtime" value="00:00:00" placeholder="hh:mm:ss" size="5" disabled />
    </div>
</div>
<div id="player-content" class="content">
    <div class="box">
        <div id="player"></div>
    </div>
</div>
<div class="content">
    <div id="recent-list" class="list-view box">
        <div class="list-view-header clearfix">
            <div class="list-view-header-caption">最近播放</div>
            <div class="list-view-header-trash fa fa-trash" title="清除所有記錄"></div>
        </div>
        <div class="list-view-body"></div>
    </div>
</div>
